КЯР/scheme.xsd

<!-- XSD - описание структуры XML-документа -->
<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CATALOG">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="BOOK">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NAME" type="xs:string" />
              <xs:element name="AUTHOR" type="xs:string" />
              <xs:element name="GENRE" type="xs:string" />
              <xs:element name="PRICE" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>